# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/
dist/
build/

# iOS
*.xcuserstate
*.xcworkspace/xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
Pods/
.build/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
